.qualification__body__title {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.qualification__body__title>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qualification__icon {
    margin-right: 1rem;
}

.qualification__footer {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__content {
    justify-self: end;
}

.qualification__content__subtitle {
    margin-bottom: 1rem;
}

.qualification__rounder {
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: grey;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: grey;
    transform: translate(6px, -5px);

}