.contact__body {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    justify-items: center;
    text-align: center;
}

.contact__box-subtitle {
    font-size: larger;
    font-weight: var(--font-semi-bold);
    color: #000;
}


.contact__email:hover
.mail{
    color: var(--title-color-dark);
    transform: translateX(20px);
    transition: all 0.5s ease;
}

.mail {
    transition: all 0.5s ease;
}

.contact__whatsapp:hover
.whatsapp{
    color: var(--title-color-dark);
    transform: translateX(20px);
    transition: all 0.5s ease;
}

.whatsapp {
    transition: all 0.5s ease;
}

.contact__email,
.contact__whatsapp {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #fff;
    padding: 2.5rem;
    margin: 1rem;
}

.contact__box-span {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
    color: rgba(0, 0, 0, 0.5);
}

.contact__form {
    width: 360px;
}

.contact__form-box {
    position: relative;
    margin-bottom: var(--mb-2);
    margin-top: 1rem;
    height: 4rem;
}

.contact__form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: white;
    outline: none;
    border-radius: 0.75rem;
    padding: 1.5rem;
}

.contact__form-label {
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: 0.25rem;
    background: linear-gradient(0deg, white 49%, #F6F4EB 51% );
    color: var(--title-color-dark);
    z-index: 1;
}


.contact__form-area {
    height: 11rem;
}

.contact__form-area-time {
    margin-bottom: var(--mb-1);
}

.contact__form-area textarea {
    resize: none;
}

.button__icon {
    height: 24px;
    width: 24px;
}

.contact__time {
    text-align: left;
    color: red;
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-1);
    margin-left: 0.5rem;
    line-height: 1rem;
}

.contact__send {
    margin-top: 1rem;
}

@media screen and (max-width:768px) {
    .contact__body {
        grid-template-columns: repeat(1,1fr);
        gap: 1.5rem;
    } 
}

@media screen and (max-width:375px) {
    .contact__form {
        width: 300px;
    }
}